nav {
  border-bottom: 1px solid $base-border-color;
  margin: em(30) em(-100) em(10) em(-100);
  // background-color: $light-gray;

  ul {
    display: inline-block;
    margin-bottom: em(10);
  }

  ul,
  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

}

.blog-title {
  font-size: 1.4em;
  font-weight: 700;
  letterspacing: 4px;
  text-transform: uppercase;
}

.right {
  display: inline;
  text-align: right;
  float: right;
}
