<nav>
  <ul>
    <li>
      <%= link_to "Tech Thoughts", "index.html", :class => 'blog-title' %>
    </li>
    <% if current_article %>
      <li>
        <i><%= current_article.title %></i>
      </li>
    <% end %>
  </ul>
  <% if current_article %>
    <div class="right">
      <%= current_article.date.strftime('%B %d, %Y') %>
    </div>
  <% end %>
</nav>
